* {
	margin: 0;
	padding: 0;
	color: white;
}

body {
	background-color: black;
	width: 100%;
}

header {
	text-align: center;
	margin-bottom: 40px;
}

header h1 {
	margin: 20px;
	text-decoration: underline;
}

main {
	display: flex;
	justify-content: space-around;
}

#home-left {
	width: 33%;
}

#home-left p {
	margin: 0px 40px;
}

#system-gif {
	margin: 20px 40px;
}

#git-link {
	margin: 20px 40px;
	color: blue;
}

#home-right {
	width: 66%;
}

#home-right h2 {
	color: purple;
	margin-left: 100px;
	margin-bottom: 10px;
}

#home-right ul {
	margin-left: 120px;
}

#home-right ul li {
	margin: 10px;
}

#home-right p {
	margin: 10px 10px 10px 130px;
}

@media(max-width: 1450px) {
	main {
		width: 100%;
		height: auto;
		flex-direction: column;
		align-items: center;
	}

	#home-left {
		width: 100%;
		margin-bottom: 50px;
	}

	#home-left * {
		margin: 0;
	}

	#home-left p {
		margin: 10px;
	}

	#git-link {
		margin: 20px 10px;
	}

	#home-right {
		width: 100%;
	}

	#home-right h2 {
		margin: 10px;
	}

	#home-right ul {
		margin: 10px;
	}

	#home-right ul li {
		margin: 10px 10px 10px 30px;
	}

	#home-right p {
		margin: 10px 10px 10px 30px;
	}

	#home-right li {
		margin: 15px;
	}
	
	#system-gif {
		margin: 20px 40px;
	}
}

@media(max-width: 600px) {
	#system-gif {
		margin: 0 5%;
		width: 90%;
	}
}
